.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button.GenerateCharacter {
  width: 300px;
  height: 100px;
  font-size: 24px;
  border: 5px solid yellow;
  color: yellow;
  background-color: #282c34;
}

button.GenerateCharacter:hover {
  color: red;
  border-color: red;
  cursor: pointer;
}

img.CharacterImage {
  height: 400px;
  border-radius: 10%;
}

a {
  color: yellow;
}

a:hover {
  color: red;
}

.charName {
  color: yellow
}